body, html {
	border: 0;
	margin: 0;
	width: 100%;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1px;
	font-weight: 300;
	font-size: 16px;
	color: #212229;
}

h1, h2, h3, h4, h5 {
	letter-spacing: 2px;
	font-weight: 700;
}

hr {
	color: #212229;
}

.container {
	max-width: 800px;
	margin: 0px auto;
}

.spacer {
	margin: 10px;
}

.clear {
	clear: both;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

table.td, table.th {
	padding: 5px;
}

table thead {
	background: #3b4856;
	color: #FFF;
}

table thead th {
	padding: 5px;
	font-weight: 400;
}

table tr:nth-child(even) {
  background: #F7F7F7;
}

.tbl tr td {
  border-bottom:1px solid #EEE;
}

.top-bar {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 70px;
	line-height: 40px;
	width: 100%;
	color: #EEE;
	background: #212229;
	margin: 0px;
	z-index: 9999;
}

.logo-icon {
	height: 50px;
	margin: 5px;
	float: left;
}

.logo-text {
	font-weight: 700;
	letter-spacing: 4px;
	font-size: 26px;
	color: #FFF;
	float: left;
	margin-left: 10px;
}

.com-text {
	letter-spacing: 1px;
	font-size: 12px;
	color: #888;
}


.tag-text {
	font-weight: 400;
	letter-spacing: 3px;
	font-size: 13px;
	color: #FFF;
	margin-top: -10px;
}


.logo-dates {
	color: #f7931a;
}

.push-down {
	margin-top: 80px; /* push down from top menu */
}

.menu {
	float: right;
	height: 40px;
	line-height: 40px;
}

.menu ul {
	margin: 0px;
	margin-block-start: 0px;
  margin-block-end: 0px;
	padding-inline-start: 0px;
}

.menu ul li {
	display: inline-block;
	text-decoration: none;
	margin-left: 10px;
	font-size: 14px;
}

.menu ul li a, .menu ul li a:hover, .menu ul li a:active {
	text-decoration: none;
	color: #DDD;
}

.menu ul li a:hover {
	color: #FFF;
}


#burger {
	height: 20px;
	filter: invert(100%);
	float: right;
	cursor: pointer;
	margin: 10px 10px 0px 10px;
	display: none;
}

#menu-close {
	height: 20px;
	filter: invert(100%);
	position: fixed;
	top: 0px;
	right: 0px;
	cursor: pointer;
	display: none;
	padding: 10px 15px;
	background: #DEDDD6;
}

.footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 20px;
	line-height: 20px;
	background: #212229;
	font-size: 11px;
	color: #EEE;
	text-align: right;
}

.copyright {
	margin-right: 20px;
}

.copyright a, .copyright a:hover, .copyright a:visited, .copyright a:active {
	color: rgb(228, 228, 238);
} 

#halving-table {
	min-width: 100%;
}
#sub-halving-table {
	min-height: 500px;
	min-width: 100%;
}
.tbl-halving-dates {
	width: 100%;
}

.tbl-halving-dates th, .tbl-halving-dates td {
	text-align: center;
	padding: 5px;
}

.tbl-halving-dates td {
	cursor: pointer;
}

.timer li {
	display: inline-block;
	font-size: 20px;
	list-style-type: none;
	padding: 15px;
	text-transform: uppercase;
	text-align: center;
	border: 1px solid #CCC;
	border-radius: 5px;
	min-width: 70px;
}

.timer li span {
	display: block;
	font-size: 36px;
}

.crypto-icon {
	height: 32px;
	width: 32px;
}

.responsive-image {
	max-width: 100%;
}

.btc-big-logo {
	display: block;
	margin: 20px 0px;
}

.tbl-bitcoin {
	margin-top: 20px;
	width: 100%;
}

.tbl-bitcoin th, .tbl-bitcoin td {
	text-align: center;
}

.side-icon {
	margin-right: 10px;
}

.rocket {
	margin: 10px auto;
	width: 120px;
	opacity: 0.5;
	float: right;
}

.view-full-link {
	margin: 20px auto;
	font-size: 28px;
}

.twitter-image {
	border: 1px solid #CCC;
	border-radius: 5px;
	margin: 10px;
	max-width: 90%;
}

@media only screen and (max-width: 720px) {
	#burger {
		display: block;
	}

	#menu-close {
		display: block;
	}

	#menu {
		display: none;
		float: none;
		position: fixed;
		top: 40px;
		left: 0px;
		width: 100%;
		height: 100%;
		background: #212229;
	}

	.menu ul li {
		display: block;
		text-decoration: none;
		margin: 10px;
		padding: 10px;
		font-size: 14px;
		border-bottom: 1px solid #3b4856;
		font-size: 20px;
		text-align: center;
	}

	.menu ul li a, .menu ul li a:hover, .menu ul li a:active {
		text-decoration: none;
		color: #DDD;
	}

	.menu ul li a:hover {
		color: #FFF;
	}

	.hide-mobile {
		display: none;
	}

	.container {
		padding: 0px 5px;
	}

	.timer li {
		font-size: 17px;
		list-style-type: none;
		padding: 5px;
		text-transform: uppercase;
		text-align: center;
		border: 1px solid #CCC;
		border-radius: 5px;
		min-width: 50px;
	}

	.timer li span {
		display: block;
		font-size: 30px;
	}
	.rocket {
		width: 80px;
		float: right;
	}
	#halving-table {
		min-height: 800px;
		min-width: 100%;
	}
}